.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  text-align: right;
  width: 100%;
}

.label {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  color: #374151;
}

.input {
  padding: 12px;
  border: 1.5px solid #D1D5DB;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
  font-family: inherit;
}

.input:focus {
  border-color: #4F46E5;
}

/* تنسيق الحقل إذا كان فيه خطأ */
.inputError {
  border-color: #EF4444;
}

/* تنسيق نص رسالة الخطأ */
.errorText {
  color: #EF4444;
  font-size: 12px;
  margin-top: 5px;
}